/* Reset وتنسيقات أساسية */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
}

@font-face {
  font-family: Figtree;
  src: url(./assets/fonts/Figtree-VariableFont_wght.ttf);
}
/* use variables */
:root {
  /*========== Colors ==========*/
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);
  /*========== border-radius ==========*/
  --br-card: 20px;
  --br-img: 15px;

  /*========== Font and typography ==========*/
  --h1-font-size: 1.5rem;
  --normal-font-size: 0.938rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-bold: 800;

  /*========== Paddings Bottom ==========*/
  --pb-0-25: 0.25rem;
  --pb-0-5: 0.5rem;
  --pb-0-75: 0.75rem;
  --pb-0-9375: 0.9375rem;
  --pb-1: 1rem;
  --pb-1-2: 1.2rem;
  --pb-1-25: 1.25rem;
  --pb-1-4: 1.4rem;
  --pb-1-5: 1.5rem;
  --pb-1-6: 1.6rem;
  --pb-2: 2rem;
  --pb-2-5: 2.5rem;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--yellow);
  /* COMMENT: we can use padding to add space around learning-card if we want that */
  /* [ ] we here move card inro center by flex which make space around card */
}

.learning-card {
  background: var(--white);
  width: 384px;
  padding: var(--pb-1-5);
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: 8px 8px 0 black;
  transition: transform 0.3s ease;
}

/* تأثير الرفع عند التمرير */
.learning-card:hover {
  transform: translateY(-5px);
}

.card-image {
  width: 100%;
  border-radius: 10px;
  margin-bottom: var(--pb-1-5);
}

.card-content {
  display: flex;
  flex-direction: column;
  /* COMMENT: use gap instead of margin-bottom */
  gap: 12px;
}

/* التصنيف والتاريخ */
.category-date {
  display: flex;
  flex-direction: column;
  /* use gap instead of mb */
  gap: 12px;
}

.category {
  /* NOTE: use span to create btn, and use fit-content as width value */
  background: var(--yellow);
  /* padding: 4px 12px; */
  padding: var(--pb-0-25) var(--pb-0-75);
  border-radius: 4px;
  width: fit-content;
  font-weight: var(--font-bold);
}

.publish-date {
  font-weight: var(--font-medium);
  color: var(--gray-950);
}

.card-title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
  cursor: pointer;
}

.card-title:hover {
  color: var(--yellow);
}

.card-description {
  color: var(--gray-500);
  line-height: 1.5;
}

.author-section {
  display: flex;
  /* we use only what we need to get right distripution */
  align-items: center;
  /* we use gap instead of margin-right */
  gap: 12px;
  margin-top: var(--pb-1-5);
}

.author-avatar {
  width: 32px;
  height: 32px;
}

.author-name {
  font-weight: var(--font-bold);
}

@media (max-width: 425px) {
  .learning-card {
    width: 327px;
    margin: 0 var(--pb-1);
    box-shadow: 6px 6px 0 black;
  }

  .card-title {
    font-size: var(--pb-1-25);
  }
}
