/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d1a2d;
    font-family: "Outfit", sans-serif;
    padding: 1.5rem;
  }

  /* NFT Card Container */
  .nft-card {
    background: #15273f;
    border-radius: 15px;
    padding: 1.5rem;
    max-width: 350px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.2);
  }

  /* Image Container with Hover Effect */
  .nft-image {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 1.5rem;
  }

  .nft-image img {
    width: 100%;
    display: block;
  }

  /* [ ] add img overlay and icon over it >> use before & after  */
  .nft-image:hover::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* BUG: if use , >> dosen't work */
    /* background-color: rgb(159, 241, 159); */
    background-color: rgb(159 241 159 / 20%); 
    background-color: rgb(159 241 159 / 0.5); 

  }

  .nft-image:hover::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50px;
    height: 50px;
    /* BUG: if use , >> dosen't work */
    background-image: url(./images/icon-view.svg);

  }
  /* Card Content Styling */
  .nft-title {
    color: white;
    margin-bottom: 1rem;
    font-size: 1.4rem;
  }

  .nft-description {
    color: #8bacda;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    font-weight: 300;
  }

  /* Price and Time Section */
  .price-time {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    /* NOTE: add horizontal line to bottom of our div */
    border-bottom: 1px solid #2f4159;
  }

  /* [ ] deal on vertical level */
  .price,
  .time {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .price {
    color: #00fff7;
  }

  .time {
    color: #8bacda;
  }

  /* Creator Section */
  .creator {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .creator img {
    width: 35px;
    border: 1px solid white;
    border-radius: 50%;
  }

  .creator p {
    color: #8bacda;
  }

  .creator span {
    color: white;
  }

  /* Hover Effects */
  .nft-title:hover,
  .creator span:hover {
    color: #00fff7;
    cursor: pointer;
  }

  /* Responsive Design */
  @media (min-width: 768px) {
    .nft-card {
      max-width: 400px;
      padding: 2rem;
    }

    .nft-title {
      font-size: 1.6rem;
    }
  }