/* styles.css */
/* Base Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");

/* use variables */
:root {
/* colors */
--green-500: hsl(158, 36%, 37%);
--green-700: hsl(158, 42%, 18%);
--black: hsl(212, 21%, 14%);
--grey: hsl(228, 12%, 48%);
--cream: hsl(30, 38%, 92%);
--white: hsl(0, 0%, 100%);
/* Typography */
--paragraph-font-size: 14px;
--font-family-montserrat: montserrat, sans-serif;
--font-family-fraunces: Fraunces;
/* sizes */
--padding-container: 20px;
--br-container: 20px;
--br-img: 50%;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3eae3;
  font-family: 'Montserrat', sans-serif;
}

/* Product Card Container */
.product-card {
  max-width: 600px;
  display: flex;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  margin: 1rem;
}

/* Image Section - Takes 50% width */
/* NOTE: use flex-basis instead of width */
.product-image {
  flex: 1 0 50%;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* COMMENT: did we need to make it block */
  /* display: block; */
}

/* Product Info Section - Takes 50% width */
.product-info {
  flex: 1 0 50%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* Category Text >> PERFUME*/
.product-category {
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #6c7289;
}

/* Product Title */
.product-title {
  font-family: 'Fraunces', serif;
  font-size: 2rem;
  line-height: 1;
  color: #1c232b;
}

/* Product Description */
.product-description {
  color: #6c7289;
  line-height: 1.6;
}

/* Price Container */
.price-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.current-price {
  font-family: 'Fraunces', serif;
  font-size: 2rem;
  color: #3d8168;
}

.original-price {
  color: #6c7289;
  text-decoration: line-through;
}

/* Cart Button */
/* COMMENT: img + text */
.cart-button {
  background: #3d8168;
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  transition: background-color 0.3s ease;
}

.cart-button:hover {
  background: #1a4031;
}

/* Mobile Responsive Design */
@media (max-width: 768px) {
  .product-card {
      flex-direction: column;
      /* [ ] must determain max-width */
      max-width: 400px;
  }
  
  .product-image {
      /* [ ] did we need to determain height and stop flex? */
      flex: none; /*it cut part from img*/
      height: 250px;
  }
  
  .product-info {
      padding: 1.5rem;
      gap: 1rem;
  }
  
  .product-title {
      font-size: 1.8rem;
  }
  
  .current-price {
      font-size: 1.8rem;
  }
}